{% extends 'home/base.html' %}
{% block title %}
Index
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div class = "container-fluid" >
    <div class = "col">
        <h1 onClick ="search()">BlockchainExplorer</h1>
    </div>
    <div class = "gasPrice">
        <h6> Gas Price (Gwei): </h6>
        <h6 id = "gasPrice"> </h6>
    </div>
</div>


<div class ="content">
    <span class ="border">
        <table class ="list" id = "tamere">
            <tr>
                <th class = "table" id ="block"> Latest Block </th>
                <th class = "table" id ="transaction"> Latest Transaction </th>
                
            </tr>
            <tr class = "L2">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L3">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L4">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L5">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L6">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L7">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L8">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L9">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L10">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L11">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L12">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L13">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L14">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
            <tr class = "L15">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>

            <tr class = "L16">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" id="transaction" href ="transaction">View All Transaction</a></td>
            </tr>
        </table>
    </span>
</div>
{% endblock %}