{% extends 'home/base.html' %}
{% block title %}
Index
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div class = "container-fluid" >
    <div class = "col">
        <h1 onClick ="search()">BlockchainExplorer</h1>
    </div>
    <div class = "gasPrice">
        <h6> Gas Price (Gwei): </h6>
        <h6 id = "gasPrice"> </h6>
    </div>
</div>


<div class ="content">
    <span class ="border">
        <table class ="list" id = "tamere">
            <tr>
                <th class = "table" id ="block"> Latest Block </th>
                <th class = "table"> Latest Transaction </th>
                
            </tr>
            <tr class = "test">
                <td><a class = "linkAllBlock" id ="block" href ="block">View All Block</a></td>
                <td><a class = "linkAllTransactions" href ="transaction">View All Transaction</a></td>
            </tr>
        </table>
    </span>
</div>
{% endblock %}