{% extends 'home/base.html' %}
{% block title %}
Index
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div class = "container-fluid" >
    <div class = "col">
        <h1>BlockchainExplorer</h1>
    </div>
</div>
    
<div class = "content">
    <div class ="etherPrice">
        <h6 id = "title">Ether Price ($):</h6>
        <h6 id = "ethPrice"></h6>
    </div>
    <div class = "gasPrice">
        <h6 id = "title"> Gas Price (Gwei): </h6>
        <h6 id = "gasPrice"> </h6>
    </div>
    <div class = "nbTransac14">
        <h6 id = "title">Number of transaction last 14 days :</h6>
        <h6>balise a remplir</h6>
    </div>
</div>
    
</div>



<div class="mainContent">
    <div class="BlockContent">
        <table class = "blockTransaction">
            <tr class="L1">
                <th class = "table" id ="block" colspan ="2"> Latest block </th>
            </tr>
            <tr class = "L2">
                <td><a class = "linkAllBlock" id ="block1" href ="" onclick="linkBlock(1)"></a></td>
                <td class = "nbTransac" id ="NbTransac1"></td>
            </tr>
            <tr class = "L3">
                <td><a class = "linkAllBlock" id ="block2" href ="" onclick="linkBlock(2)"></a></td>
                <td class = "nbTransac" id ="NbTransac2"></td>
            </tr>
            <tr class = "L4">
                <td><a class = "linkAllBlock" id ="block3" href ="" onclick="linkBlock(3)"></a></td>
                <td class = "nbTransac" id ="NbTransac3"></td>

            </tr>
            <tr class = "L5">
                <td><a class = "linkAllBlock" id ="block4" href ="" onclick="linkBlock(4)"></a></td>
                <td class = "nbTransac" id ="NbTransac4"></td>

            </tr>
            <tr class = "L6">
                <td><a class = "linkAllBlock" id ="block5" href ="" onclick="linkBlock(5)"></a></td>
                <td class = "nbTransac" id ="NbTransac5"></td>

            </tr>
            <tr class = "L7">
                <td><a class = "linkAllBlock" id ="block6" href ="" onclick="linkBlock(6)"></a></td>
                <td  class = "nbTransac" id ="NbTransac6"></td>

            </tr>
            <tr class = "L8">
                <td><a class = "linkAllBlock" id ="block7" href ="" onclick="linkBlock(7)"></a></td>
                <td class = "nbTransac" id ="NbTransac7"></td>

            </tr>
            <tr class = "L9">
                <td><a class = "linkAllBlock" id ="block8" href ="" onclick="linkBlock(8)"></a></td>
                <td class = "nbTransac" id ="NbTransac8"></td>

            </tr>
            <tr class = "L10">
                <td><a class = "linkAllBlock" id ="block9" href ="" onclick="linkBlock(9)"></a></td>
                <td class = "nbTransac" id ="NbTransac9"></td>

            </tr>
            <tr class = "L11">
                <td><a class = "linkAllBlock" id ="block10" href ="" onclick="linkBlock(10)"></a></td>
                <td class = "nbTransac" id ="NbTransac10"></td>

            </tr>
            <tr class = "L12">
                <td><a class = "linkAllBlock" id ="block11" href ="" onclick="linkBlock(11)"></a></td>
                <td  class = "nbTransac" id ="NbTransac11"></td>

            </tr>
            <tr class = "L13">
                <td><a class = "linkAllBlock" id ="block12" href ="" onclick="linkBlock(12)"></a></td>
                <td  class = "nbTransac" id ="NbTransac12"></td>

            </tr>
            <tr class = "L14">
                <td><a class = "linkAllBlock" id ="block13" href ="" onclick="linkBlock(13)"></a></td>
                <td class = "nbTransac" id ="NbTransac13"></td>

            </tr>
            <tr class = "L15">
                <td><a class = "linkAllBlock" id ="block14" href ="" onclick="linkBlock(14)"></a></td>
                <td class = "nbTransac" id ="NbTransac14"></td>

            </tr>
            <tr class = "L16">
                <td><a class = "linkAllBlock" id ="block15" href ="" onclick="linkBlock(15)"></a></td>
                <td class = "nbTransac" id ="NbTransac15"></td>

            </tr>
        </table>
    </div>
    <div class="TransactionContent">
        <table class = "listTransaction">
            <tr class = "L1">
                <th class = "table" id ="transaction"> Latest transaction </th>
            </tr>
            <tr class = "L2">
                <td><a class = "linkAllTransactions" id="transaction1" href ="" onclick="link(1)"></a></td>
            </tr>
            <tr class = "L3">
                <td><a class = "linkAllTransactions" id="transaction2" href ="" onclick="link(2)"></a></td>
            </tr>
            <tr class = "L4">
                <td><a class = "linkAllTransactions" id="transaction3" href ="" onclick="link(3)"></a></td>
            </tr>
            <tr class = "L5">
                <td><a class = "linkAllTransactions" id="transaction4" href ="" onclick="link(4)"></a></td>
            </tr>
            <tr class = "L6">
                <td><a class = "linkAllTransactions" id="transaction5" href ="" onclick="link(5)"></a></td>
            </tr>
            <tr class = "L7">
                <td><a class = "linkAllTransactions" id="transaction6" href ="" onclick="link(6)"></a></td>
            </tr>
            <tr class = "L8">
                <td><a class = "linkAllTransactions" id="transaction7" href ="" onclick="link(7)"></a></td>
            </tr>
            <tr class = "L9">
                <td><a class = "linkAllTransactions" id="transaction8" href ="" onclick="link(8)"></a></td>
            </tr>
            <tr class = "L10">
                <td><a class = "linkAllTransactions" id="transaction9" href ="" onclick="link(9)"></a></td>
            </tr>
            <tr class = "L11">
                <td><a class = "linkAllTransactions" id="transaction10" href ="" onclick="link(10)"></a></td>
            </tr>
            <tr class = "L12">
                <td><a class = "linkAllTransactions" id="transaction11" href ="" onclick="link(11)"></a></td>
            </tr>
            <tr class = "L13">
                <td><a class = "linkAllTransactions" id="transaction12" href ="" onclick="link(12)"></a></td>
            </tr>
            <tr class = "L14">
                <td><a class = "linkAllTransactions" id="transaction13" href ="" onclick="link(13)"></a></td>
            </tr>
            <tr class = "L15">
                <td><a class = "linkAllTransactions" id="transaction14" href ="" onclick="link(14)"></a></td>
            </tr>
            <tr class = "L16">
                <td><a class = "linkAllTransactions" id="transaction15" href ="" onclick="link(15)"></a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}