{% extends 'block/base.html' %}
{% block title %}
Transaction
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto", id="title">
        <br>
        <h1>Block Details</h1>
        </div>
        <div class="col col-lg-2"></div>
    </div>
</div>
<div class="content">
    <div class="hash">
        <h2 id ="hashB">Hash :</h2>
    </div>
    <div class="nbTransac">
        <h2 id = "nbTransacB">Number of transactions :</h2>
    </div>
    <div class="timeStamp">
        <h2 id = "time" > time  :</h2>
    </div>
    <div class="size">
        <h2 id ="sizeB">Size :</h2>
    </div>
    <div class="miner">
        <h2 id ="minerB">Size :</h2>
    </div>
    <div class="Difficulty">
        <h2 id = "dif">Difficulty :</h2>
    </div>
    <div class="total">
        <h2 id = "tot">Total Difficulty :</h2>
    </div>
    <div class="TransactionContent">
        <table class = "listTransaction" id ="tableTransac">
            <tr class = "L1">
                <th class = "table" id ="titre"></th>
            </tr>
        </table>
    </div>
</div>
<div class = "ContactBar", id="title">
  <div class="container">
      <div class="row justify-content-md-center">
          <div class="col col-lg-2"></div>
          <div class="col-md-auto">
              <div class = "Contact">
                  <h5>Contact us :</h5>
              </div>
          </div>
          <div class="col col-lg-2"></div>
      </div>
  </div>
</div>
<br>
<div class = "ContactBarPersons", id="title">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class = "NameArt" >
                <h6> Arthur :</h6>
                <p> arthurvallee@gmail.com</p>
            </div>
          </div>
          <div class="col">
            <div class = "NameAle">
                <h6> Alexandre :</h6>
                <p>alexandrestefanos@gmail.com</p>
            </div>
          </div>
          <div class="col">
            <div class = "NameHan">
                <h6> Hanafi :</h6>
                <p>h.elmhougharti@gmail.com</p>
            </div>
          </div>
          <div class="col">
            <div class = "NameSam">
                <h6> Samuel :</h6>
                <p>couquet-sam@hotmail.fr</p>
            </div>
          </div>
        </div>
    </div>
</div>  
{% endblock %}