{% extends 'adress/base_adress.html' %}
{% block title %}
Index
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div>
    <p class = "adress" id = "ad">
        Adress :
    </p>
</div>
<div class = "global">
    <div class = "adressEth">
        <div class ="balance">
            <h6 id = "ethBalance">Etherum balance : </h6>
        </div>
        <div class = "Value" onload = "adress()">
            <h6 id = "value"> Value :</h6>
        </div>
    </div>
    <div class="TransactionContent">
        <table class = "listTransaction" id ="tableTransac">
            <tr class = "L1">
                <th class = "table" id ="titre"> Latest transaction </th>
            </tr>
        </table>
    </div>
</div>
{% endblock%}