body{
  background: linear-gradient(white,rgb(9, 9, 136));
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

}
.gasPrice{
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  width: 270px;
  text-align:right

}

.bottomPage{
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 13%;
  margin-right: 13%;
  background-color: white;
  text-align: center; 
}

a{
  font-size: 12px;
}

.container-fluid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.gasPrice {
  padding-right: 100px;
  padding-top: 20px;
}


.content{
  text-align: center;
  background: white;
  margin-left: 13%;
  margin-right: 13%;
  border-collapse: collapse;
  border: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;

}

#transaction{
  border-left: dotted;
  border-bottom: 0cm;
  border-top: 0cm;
  border-right: 0cm;
  border-width: 1px;
  border-color: rgb(56, 56, 56);
}


thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

td{
  padding: 10px; 
  border-bottom: 1px dotted ;
  border-right: 1px dotted;
  border-color: gray;

}

th{
  font-family: 'Courier New', Courier, monospace;
  padding: 10px; 
  border-bottom: 1px dotted ;
  border-right: 1px dotted;
  border-color: gray;
  text-align: center;
  text-decoration: underline 1px solid rgb(0, 0, 0);
}




