body{
  background-image: url("background2.png");
}

.listTransaction th,
.listTransaction td{
  padding: 12px 15px;
}

.listTransaction  tr {
  border-bottom: 1px solid #dddddd;
}

.listTransaction tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.listTransaction tr:last-of-type {
  border-bottom: 2px solid #6930b4;
}


.container-fluid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.btn{
  background-color: #8e63df; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.content{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  margin: 3%;
  padding: 3%;
  background: rgba(255, 255, 255, 0.5);
  }

.etherPrice{
  width: 32%;
  text-align: center;
  display: inline-block;
  border-right: 1px solid gray;
}

.gasPrice{
  width: 32%;
  text-align:center;
  display: inline-block;
  border-right: 1px solid gray;

}

.nbTransac14{
  text-align: center;
  width: 32%;
  display: inline-block;
}



#title{
  text-decoration: underline 1px solid gray;
}

.mainContent{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  padding: 2%;
  margin: 3%;
  background: rgba(255, 255, 255, 0.5);
}


/* Nouveau css */
.listTransaction{
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 5px solid rgb(109, 74, 189);
  background:rgba(255, 255, 255);
  padding: 8px;
}
.blockTransaction{
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 550px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 5px solid rgb(108, 63, 192);
  background:rgba(255, 255, 255);
  padding: 8px;
}

.blockTransaction th,
.blockTransaction td{
    padding: 12px 15px;
}

.blockTransaction  tr {
    border-bottom: 1px solid #dddddd;
}

.blockTransaction tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.blockTransaction tr:last-of-type {
    border-bottom: 2px solid #6d3bad;
}

.BlockContent{
  display: inline-block;
}
.TransactionContent{
  display: inline-block;
  margin-left: 5%;
}


.NbTransac{
  font-size: 12px;
}

.table{
  background-color: #6a3cb4;
  color: #ffffff;
  text-align: center;
}



.linkAllTransactions{
  font-size : 12px;
  text-overflow: ellipsis;
}

.linkAllBlock{
  font-size : 12px;
}

.nbTransac{
  font-size:12px;
  min-width: 300px;
  text-align: right;
}

#contact{
  color: white;
}