{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{% endblock %}</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'css/stats.css'%}">
      <link rel="stylesheet" href="{% static 'css/main.css'%}">
      <script src="{% static 'js/index_stats.js' %}"></script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% block styles %}
      
      {% endblock %}
  </head>
  <body class = 'light' onload="onLoadChangeColor()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ul">
            <li class="nav-item">
              <a class="nav-link Stats" aria-current="page" href=""><u>Statistics</u></a>
            </li>
            <li class="nav-item">
              <a class="nav-link Documentation" href="../documentation">Documentation</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Block/Address/Hash" aria-label="Search" id="ser">
            <button class="btn" type="button" onclick="search()" >Search</button>
          </form>
        </div>
        <a class="navbar-brand" href="http://127.0.0.1:8000/">Blockchain Explorer</a>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    <br>
    <br>
    <div class="container">
      <div class="row row-cols-2">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Ethereum price in the last 365 days 
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p></p>
                {% autoescape off %}
                {{ plot_div }}
                {% endautoescape %}
                <br>
                <br>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              Ethereum total value locked since the beginning of Defi (decentralized finance)
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p></p>
                {% autoescape off %}
                {{ plot_DefiTVL}}
                {% endautoescape %}
                <br>
                <br>
                <footer class="blockquote-footer"><cite title="Source Title">https://api.llama.fi/charts/Ethereum</cite></footer>
                <br>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              Richest addresses in Ethereum 
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p></p>
                {% autoescape off %}
                {{ plot_TopWallet }}
                {% endautoescape %}
                <br>
                <footer class="blockquote-footer"><cite title="Source Title">https://services.tokenview.com/vipapi/address/richrange/eth/1/10?apikey=ft7EW5mB9j7EPk3hiRUt</cite></footer>
                <br>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              Marketcap Repartition 
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p></p>
                {% autoescape off %}
                {{ plot_PieMc }}
                {% endautoescape %}
                <br>
                <footer class="blockquote-footer"><cite title="Source Title">https://api.coingecko.com/api/v3/global</cite></footer>
                <br>
                <br>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              Companies holding Ethereum
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p></p>
                {% autoescape off %}
                {{ plot_PieCompanies }}
                {% endautoescape %}
                <br>
                <footer class="blockquote-footer"><cite title="Source Title">https://api.coingecko.com/api/v3/companies/public_treasury/ethereum</cite></footer>
                <br>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              Largest decentralized applications on Ethereum by total value locked
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p></p>
                {% autoescape off %}
                {{ plot_PieDefi }}
                {% endautoescape %}
                <br>
                <footer class="blockquote-footer"><cite title="Source Title">https://api.llama.fi/protocols</cite></footer>
                <br>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col"> </div>
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              Total value locked comparison of different Blockchains
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p></p>
                {% autoescape off %}
                {{ plot_PieChains }}
                {% endautoescape %}
                <br>
                <footer class="blockquote-footer"><cite title="Source Title">https://api.llama.fi/protocols</cite></footer>
                <br>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col"> </div>
      </div>
    </div>
    <br>
    <br>
    <div class = "ContactBar", id="title">
      <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2"></div>
              <div class="col-md-auto">
                <div class = "Contact">
                  <label class="switch">
                    <input type="checkbox" onclick="changeColor()" id="btn">
                    <span class="slider round"></span>
                  </label>
                <h5>Contact us :</h5>
                </div>
              </div>
            <div class="col col-lg-2"></div>
        </div>
      </div>
    </div>
    <br>
    <div class = "ContactBarPersons", id="title">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class = "NameArt" >
                <h6> Arthur :</h6>
                <p> arthurvallee@gmail.com</p>
            </div>
          </div>
          <div class="col">
            <div class = "NameAle">
                <h6> Alexandre :</h6>
                <p>alexandrestefanos@gmail.com</p>
            </div>
          </div>
          <div class="col">
            <div class = "NameHan">
                <h6> Hanafi :</h6>
                <p>h.elmhougharti@gmail.com</p>
            </div>
          </div>
          <div class="col">
            <div class = "NameSam">
                <h6> Samuel :</h6>
                <p>couquet-sam@hotmail.fr</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>