pip install djangorestframework
pip install requests
pip install djongo
pip install pymongo==3.12.1
sudo apt-get install npm
npm install bootstrap
pip install dnspython

python3 manage.py runserver
mongod --dbpath datas/
